/* MEDIA QUERIES GENERAL */
@media (min-width: 780px) {
  .section7 {
    flex-direction: row;
    gap: 3rem;
  }
  .section8 {
    flex-direction: row;
    gap: 3rem;
  }
}

@media (min-width: 900px) {
  .section7 {
    padding-inline: 2.5rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .seven-head {
    font-size: 2rem;
  }

  .seven-bio {
    font-size: 1rem;
  }
  .section8 {
    padding-inline: 2.5rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .eight-head {
    font-size: 3rem;
  }
  .eight-bio {
    font-size: 1rem;
  }
}

/* MEDIA QUERIES FOR SECTION 13*/

@media (min-width: 1400px) {
  .seven-head {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .section7 {
    max-width: 1241px;
  }

  .eight-head {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .section8 {
    max-width: 1241px;
  }
}