/* MEDIA QUERIES GENERAL */
@media screen and (max-width: 1200px) {
    .nav-about:hover {
      background-color: #2165c5;
    }
    .nav-services:hover {
      background-color: #3a7bdc;
    }
    .nav-blog {
      background-color: #090909;
    }
    .nav-blog:hover {
      background-color: #2f6be0;
    }
    .nav-contact:hover {
      background-color: #425bca;
    }
    .exce-content2,
    .nav-content {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    .nav-content {
      gap: 17.13rem;
    }
    .exce-content2 {
      gap: var(--gap-3xs);
    }
    .quote-button {
      background-color: #373a88;
    }
    .quote-button:hover {
      background-color: #0b0d5c;
    }
    .frame4,
    .quote-content {
      flex-direction: row;
      align-items: center;
    }
    .frame4 {
      gap: var(--gap-361xs);
      justify-content: flex-end;
    }
    .quote-content {
      gap: 3.88rem;
      justify-content: flex-start;
    }
    .services-frames,
    .testimonials-frames {
      flex-direction: row;
      gap: var(--gap-21xl);
      align-items: flex-start;
      justify-content: flex-start;
    }
    .services-button:hover {
      background-color: #131560;
    }
    .testimonials-frames {
      gap: var(--gap-xl);
    }
    .contact-button {
      background-color: #383c99;
    }
    .contact-button:hover {
      background-color: #161967;
    }
    .blogs-frames {
      flex-direction: row;
      gap: var(--gap-xs);
      align-items: center;
      justify-content: flex-start;
    }
    .getupdates-text-parent,
    .search-parent {
      flex-direction: row;
      gap: var(--gap-0);
      align-items: center;
      justify-content: center;
    }
    .link:hover {
      background-color: #1311bc;
    }
    .link3:hover {
      background-color: #ce1e1e;
    }
    .link-about:hover {
      color: #1d3ed1;
    }
    .link-contact:hover {
      color: #1a16dc;
    }
    .link-blog:hover {
      color: #2316d3;
    }
    .link-blog1:hover {
      color: #1916d3;
    }
    .link-faqs:hover {
      color: #0c2ce0;
    }
    .link-digital:hover {
      color: #1f1cc2;
    }
    .link-digital1:hover {
      color: #2c17ca;
    }
    .link-business:hover {
      color: #1e27d5;
    }
    .link-technology {
      color: #141ccc;
    }
    .link-technology:hover {
      color: #1620d3;
    }
    .link-change {
      color: #17171a;
    }
    .link-change:hover {
      color: #1c1cc8;
    }
    .footer-button {
      background-color: #4449a8;
    }
    .footer-button:hover {
      background-color: #171d82;
    }
    .footer-about-parent,
    .footer-section-6,
    .footer2-content {
      flex-direction: row;
      gap: 5.63rem;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .footer-section-6,
    .footer2-content {
      gap: 5rem;
    }
    .footer2-content {
      gap: 31.25rem;
      align-items: center;
    }
  }
  @media screen and (max-width: 768px) {
    .nav-about:hover {
      background-color: #2468c7;
    }
    .nav-services:hover {
      background-color: #3478dc;
    }
    .nav-blog:hover {
      background-color: #3166d0;
    }
    .nav-contact:hover {
      background-color: #3f56bf;
    }
    .links {
      display: none;
    }
    .menu,
    .nav-links {
      display: flex;
    }
    .exce-content2,
    .nav-content {
      align-items: center;
      justify-content: flex-start;
    }
    .nav-content {
      flex-direction: row;
      gap: 17.13rem;
    }
    .exce-content2 {
      flex-direction: column;
      gap: var(--gap-3xs);
    }
    .about-button {
      background-color: #323595;
    }
    .about-button:hover {
      background-color: #14177a;
    }
    .quote-image-icon {
      height: auto;
      flex: unset;
      align-self: stretch;
    }
    .quote-button {
      background-color: #1d208e;
    }
    .quote-button:hover {
      background-color: #080b56;
    }
    .frame4 {
      flex-direction: row;
      gap: var(--gap-361xs);
      align-items: center;
      justify-content: flex-end;
    }
    .quote-text {
      flex: unset;
      align-self: stretch;
    }
    .quote-content {
      gap: var(--gap-31xl);
      align-items: center;
      justify-content: flex-start;
    }
    .quote,
    .quote-content {
      flex-direction: column;
    }
    .frame11,
    .frame21 {
      flex: unset;
      align-self: stretch;
    }
    .services-frames {
      flex-direction: column;
      gap: var(--gap-xl);
      align-items: flex-start;
      justify-content: flex-start;
    }
    .services-button {
      background-color: #383b94;
    }
    .services-button:hover {
      background-color: #181b6f;
    }
    .frame-2 {
      flex: unset;
      align-self: stretch;
    }
    .testimonials-frames {
      flex-direction: column;
      gap: var(--gap-8xs);
      align-items: flex-start;
      justify-content: flex-start;
    }
    .contact-button {
      background-color: #2c2f81;
    }
    .contact-button:hover {
      background-color: #12156b;
    }
    .blogs-frames {
      flex-direction: column;
      gap: var(--gap-3xs);
      align-items: center;
      justify-content: flex-start;
    }
    .button1,
    .getupdates-text,
    .search {
      flex: unset;
      align-self: stretch;
    }
    .search-parent {
      flex-direction: column;
      gap: var(--gap-11xs);
      align-items: center;
      justify-content: center;
    }
    .searchers {
      flex: unset;
      align-self: stretch;
    }
    .getupdates-text-parent {
      flex-direction: column;
      gap: var(--gap-0);
      align-items: center;
      justify-content: center;
    }
    .link:hover {
      background-color: #1714c7;
    }
    .link3:hover {
      background-color: #d71e1e;
    }
    .link-about {
      color: #0b0b0c;
    }
    .link-about:hover {
      color: #1818cf;
    }
    .link-contact:hover {
      color: #201dcf;
    }
    .link-blog:hover {
      color: #2417d1;
    }
    .link-blog1:hover {
      color: #1e1bcd;
    }
    .link-faqs:hover {
      color: #120fd6;
    }
    .link-digital:hover {
      color: #2320c6;
    }
    .link-digital1:hover {
      color: #301cc8;
    }
    .link-business:hover {
      color: #1f27cb;
    }
    .link-technology {
      color: #121215;
    }
    .link-technology:hover {
      color: #1414d5;
    }
    .link-change:hover {
      color: #1a1ad3;
    }
    .footer-button:hover {
      background-color: #101576;
    }
    .footer-about-parent {
      flex-direction: column;
      gap: var(--gap-31xl);
      align-items: flex-start;
      justify-content: flex-start;
    }
    .footer-section-6,
    .footer2-content {
      flex-direction: row;
      justify-content: flex-start;
    }
    .footer-section-6 {
      gap: var(--gap-3xs);
      align-items: flex-start;
    }
    .footer2-content {
      gap: 18.75rem;
      align-items: center;
    }
    .home-page1 {
      flex: unset;
      align-self: stretch;
    }
    .home-page {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 428px) {
    .nav-about:hover {
      background-color: #276bc8;
    }
    .nav-services:hover {
      background-color: #316ec8;
    }
    .nav-blog:hover {
      background-color: #326adb;
    }
    .nav-contact:hover {
      background-color: #4259c3;
    }
    .nav-links {
      display: flex;
    }
    .exce-content2,
    .nav-content {
      align-items: center;
      justify-content: flex-start;
    }
    .nav-content {
      flex-direction: row;
      gap: 17.13rem;
    }
    .exce-content2 {
      flex-direction: column;
      gap: var(--gap-8xs);
    }
    .about-button {
      background-color: #31348f;
    }
    .about-button:hover {
      background-color: #171a71;
    }
    .quote-image-icon {
      flex: unset;
      align-self: stretch;
    }
    .quote-button {
      background-color: #1c208f;
    }
    .quote-button:hover {
      background-color: #070a4c;
    }
    .quote-text {
      flex: unset;
      align-self: stretch;
    }
    .quote-content {
      flex-direction: column;
      gap: var(--gap-xl);
      align-items: center;
      justify-content: flex-start;
    }
    .frame11,
    .frame21 {
      flex: unset;
      align-self: stretch;
    }
    .services-frames {
      flex-direction: column;
      gap: var(--gap-xl);
      align-items: flex-start;
      justify-content: flex-start;
    }
    .services-button {
      background-color: #373a95;
    }
    .services-button:hover {
      background-color: #131772;
    }
    .frame-2 {
      flex: unset;
      align-self: stretch;
    }
    .testimonials-frames {
      flex-direction: column;
      gap: var(--gap-xl);
      align-items: flex-start;
      justify-content: flex-start;
    }
    .contact-button:hover {
      background-color: #0e115f;
    }
    .button1,
    .getupdates-text,
    .search {
      flex: unset;
      align-self: stretch;
    }
    .search-parent {
      flex-direction: column;
      gap: 0.19rem;
      align-items: center;
      justify-content: center;
    }
    .searchers {
      flex: unset;
      align-self: stretch;
    }
    .getupdates-text-parent {
      flex-direction: column;
      gap: var(--gap-0);
      align-items: center;
      justify-content: center;
    }
    .link:hover {
      background-color: #1714d2;
    }
    .link-about:hover {
      color: #1313c4;
    }
    .link-contact:hover {
      color: #1a17d8;
    }
    .link-blog:hover {
      color: #2519cb;
    }
    .link-blog1:hover {
      color: #2217c4;
    }
    .link-faqs:hover {
      color: #1511da;
    }
    .link-digital:hover {
      color: #211eca;
    }
    .link-digital1:hover {
      color: #3521cb;
    }
    .link-business:hover {
      color: #1a23d3;
    }
    .link-technology:hover {
      color: #1010da;
    }
    .link-change:hover {
      color: #1f1fcd;
    }
    .footer-button:hover {
      background-color: #151a75;
    }
    .footer-section-6 {
      flex-direction: column;
      gap: 1.88rem;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .jak-tecnology-2023-all-righ-wrapper {
      flex: unset;
      align-self: stretch;
    }
    .footer2-content {
      flex-direction: column;
      gap: var(--gap-0);
      align-items: center;
      justify-content: flex-start;
    }
  }