*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-size: 1.3rem;
    width: 100%;
  }
  
  nav{
    max-width: 100vw;
    height: 90px;
    background: rgb(248, 245, 245);
    align-items: center;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
  }
  
  nav .jak-logo{
    display: flex;
  }
  
  nav .jak-logo img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .jak-logo .jak-texts h1{
    color: #2D3192;
  }
  
  
  nav ul{
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  nav ul li a{
    text-decoration: none;
    color: #000;
    margin-right: 80px;
    font-weight: 600;
  }
  
  nav .btn{
    width: 160px;
    height: 48px;
    margin-left: 193px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    background: #42459C;
    color: #fff;
  }
  button:hover {
    background-color: #2D3192;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .get-updates {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);     padding: 30px;
  }
  
  .get-updates-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Additional styling for your container */
  }
  
  .text {
    width: 60%;
    line-height: 45px;
  }
  
  .email {
    width: 40%; /* Adjust the width of the email container */
    text-align: center;
    display: flex; /* Set the email container as a flex container */
  }
  
  button {
    padding: 10px 20px;
    width: 160px;
    height: 48px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    background: #42459C;
    color: #fff;
    /* Additional styling for your button */
  }
  
  input[type="email"] {
    width: 70%; /* Adjust the width of the email input */
    padding: 10px;
    outline: none;
    border: .1px solid #000;
    /* Additional styling for your email input */
  }
  
  input[type="email"]:focus {
    outline: none;
    border-color: #42459C; /* Change the border color on focus */
  }
  
  
  /*===Footer===*/
  .footer{
    height: 70vh;
    width: 100%;
    background-color: #D1D3FB;
    align-items: center;
    display: flex;
    justify-content: center;
    /* padding-left: 100px; */
  }
  
  .footer-all{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 100px;
  }
  
  .jak-footer{
    margin-right: 30px;
  }
  
  .jak-footer-main{
    display: flex;
    margin-bottom: 50px;
  }
  
  .jak-footer-main img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .jak-footer-main .jak-texts h1{
    color: #2D3192;
  }
  
  .footer-text{
    width: 450px;
  }
  
  .social-links{
    width: 100px;
    margin-top: 50px;
  }
  
  .social-links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .company-links{
    line-height: 40px;
  }
  
  .company-links h2{
    color: #2D3192;
  }
  
  .company-links ul{
    list-style: none;
  }
  
  .services-links{
    line-height: 40px;
  }
  
  .services-links h2{
    color: #2D3192;
  }
  
  .services-links ul{
    list-style: none;
  }
  
  .get-in-touch{
    line-height: 45px;
  }
  
  .get-in-touch h1{
    color: #2D3192;
    margin-bottom: 30px;
  }