
@media only screen and (max-width: 660px) {

    /* hero section */
    .hero-page {
        min-height: 90vh;
        width: 100%;
    }
  
    .hero-page .hero-page-buttons{
      display: block;
      align-items: left;
  }
  
  .hero-page .hero-page-buttons .btn{
     display: block;
     margin-top: 10px;
     width: 500px;
  }
  
  /* .hero-page {
    padding-top: 20%;
  } */
  
  .hero-page .texts {
    width: 550px;
  }
  
  .hero-page .texts .h1 {
    font-size: 1.5rem;
  }
  
    /* get updates section */
    .get-updates {
      border-radius: 10px;
      padding: 10px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
  
    .get-updates-main {
      display: block;
      text-align: left;
      margin: auto;
    }
  
    .get-updates .get-updates-main .text {
      width: 100%;
    }
  
    .get-updates .get-updates-main .email {
      width: 100%;
    }
    
    /* contact details section */
  
    .contact-details {
      margin-top: 700px;
    }
    
    .contact-details-all {
      display: block;
    }
  
    /* contact form section */
  
    .contact-form{
      display: block;
      margin: 0;
      width: 80%;
      height: 40vh;
      text-align: center;
    }
  
    .before-form{
      display: block;
      margin-right: 10px;
      margin-left: 0;
      margin-top: 30px;
      width: 600px;
      text-align: center
     }
  
     .contact-first-form{
      display: block;
      /* background-color: #efecec; */
      margin-left: auto;
      margin-top: 50px;
      margin-bottom: 200px;
      width: 350px;
      height: fit-content;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);     padding: 10px;
    }
  
    .before-form h3{
      margin-bottom: 10px;
      text-align: left;
    }
  
    .before-form p{
      line-height: 1;
      width: 90%;
      
    }
  }
  
  
@media only screen and (max-width: 1008px) {
    
  
    .get-updates {
      border-radius: 10px;
      padding: 10px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
  
    .get-updates-main {
      display: block;
      text-align: left;
      margin: auto;
    }
  
    .get-updates .get-updates-main .text {
      width: 100%;
    }
  
    .get-updates .get-updates-main .email {
      width: 100%;
    }
    
  }








