*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 1rem;
  width: 100%;
}


/*===Hero Page===*/
.hero-page{
  background: linear-gradient(rgba(92, 81, 81, 0.8), rgba(3, 3, 3, 0.8)), url('../assets/hero@3x.png');
  color: var(--color-white);
  min-height: 90vh;
  max-width: 85em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  font-family: var(--font-nunito);
  width: 100%;
  
}

.hero-page .texts{
  font-family: var(--font-nunito);
  position: absolute;
  top: 55%;
  left: 5%; /* Adjust the left value to position the text accordingly */
  transform: translate(0%, -50%);
  color: var(--color-white);
  max-width: 30em;
  width: 100%;
}

.hero-page .texts h1{
  font-family: var(--font-nunito);
  font-size: 2.5rem;
  line-height: 3.0625rem;
}

.hero-page .texts p{
  font-family: var(--font-nunito);
  margin: 0.50em 0;
  font-size: 1.1rem;
  line-height: 1.6875rem;
  width: 90%;
}

.hero-page .hero-page-buttons{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 2em;
}

.hero-page .hero-page-buttons .btn{
font-family: var(--font-nunito);
width: 40%;
height: 35px;
font-size: 0.80rem;
border: none;
border-radius: 7px;
color: var(--color-white);
}

.hero-page .hero-page-buttons .get-button{
  background: #42459C;
}

.hero-page .hero-page-buttons .learn-button{
  background: #0f0f10;
}

.hero-page .hero-page-buttons .get-button:hover{
  background: #0B0E5E;
  animation: 1s ease-in-out 0s infinite normal none shadow-inset-center;
  opacity: 1;
}

.hero-page .hero-page-buttons .learn-button:hover{
  background-color: var(--color-gray-900);
  animation: 1s ease-in-out 0s infinite alternate none shadow-inset-center;
  opacity: 1;
}


.excellence-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-white);
  
  padding: 20px;
  font-size: var(--font-size-base-5);
  color: var(--color-gray-800);
  
}

.excellence-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.excellence-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 20%; /* adjust this value to control how many items per row */
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  color: var(--color-darkslategray);
  background-color: var(--color-lightsteelblue);
  border-radius: 10px; /* rounded corners */
  animation: fadeIn 1s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* subtle shadow for a 3D effect */
}

.excellence-icon {
  width: 100%;
  max-width: 150px; /* adjust this value as needed */
  margin-bottom: 20px; /* space between the icon and the title */
}

.excellence-title {
  margin-bottom: 10px; /* space between the title and the description */
  font-size: 1.2em; /* larger font size for the title */
  font-weight: bold; /* bold font weight for the title */
  
}

.excellence-description {
  text-align: center; /* center-aligned text */
}
@media screen and (max-width: 1200px) {
  .excellence-item {
    flex: 1 0 calc(25% - 20%); /* 4 items per row */
  }
}
@media screen and (max-width: 992px) {
  .excellence-item {
    flex: 1 0 25%; /* 4 items per row */
  }
}
@media screen and (max-width: 768px) {
  .excellence-item {
    flex: 1 0 calc(50% - 20px); /* 2 items per row */
  }
}
@media screen and (max-width: 600px) {
  .excellence-item {
    flex: 1 0 100%; /* 2 items per row, smaller */
  }
}

@media screen and (max-width: 489px) {
  .excellence-item {
    flex: 1 0 calc(50%); /* 2 items per row, even smaller */
  }
}


.section-about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-header {
  order: 1;
  margin-top: 30px;
  margin-bottom: 5px;
}

.about-us-content {
  display: flex;
  justify-content: center;
  order: 2;
  margin: 30px 0;
  align-items: flex-start;
  gap: 20px;
}

.about-us-text {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}
.about-us-text p{
  margin-top: 50px;
}

.btn-about-us {
  order: 3;
  margin-top: 60px;
}

.about-us-image {
  flex: 1;
  max-width: 40%;
  height: auto;
  object-fit: cover;
  margin: 10px 0;
}
@media screen and (max-width: 489px) {
  .about-us-content {
    flex-direction: column;
    align-items: center;
  }

  .about-us-text, .about-us-image {
    flex: none;
    max-width: 100%;
  }

  .about-us-text {
    order: 2;
    padding-right: 0;
    text-align: center;
  }

  .about-us-image {
    order: 1;
    margin-top: 20px;
  }

  .btn-about-us {
    order: 3;
    align-self: center;
  }
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lightsteelblue);
  padding: 20px;
  box-sizing: border-box;
}

.quote-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px; /* adjust as needed */
  width: 50%;
  gap: 40px; /* adjust as needed */
  margin: 0 auto;
}

.quote-image-icon {
  max-width: 70%; /* adjust as needed */
  height: auto;
}

.quote-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px; /* adjust as needed */
}

.quote-button {
  align-self: center;
  background-color: blue; /* adjust as needed */
  color: white;
  padding: 10px 20px; /* adjust as needed */
  border: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.quote-button:hover {
  background-color: var(--color-deeperblue); /* adjust as needed */
}

@media screen and (max-width: 992px) {
  .quote-content {
    flex-direction: column;
    align-items: center;
  }

  .quote-image-icon, .quote-text {
    max-width: 100%;
  }

  .quote-image-icon {
    margin-bottom: 20px;
  }

  .quote-text {
    order: 1;
  }

  .quote-button {
    order: 2;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .quote-content {
    flex-direction: column;
    align-items: center;
  }

  .quote-image-icon, .quote-text {
    max-width: 100%;
  }

  .quote-image-icon {
    margin-bottom: 20px;
  }

  .quote-text {
    order: 1;
  }

  .quote-button {
    order: 2;
    align-self: center;
  }
}
@media screen and (max-width: 600px) {
  .quote-content {
    flex-direction: column;
    align-items: center;
  }

  .quote-image-icon, .quote-text {
    max-width: 100%;
  }
  .quote-image-icon {
    margin-bottom: 20px;
  }

  .quote-text {
    order: 1;
  }

  .quote-button {
    order: 2;
    align-self: center;
  }
}
@media screen and (max-width: 489px) {
  .quote-content {
    flex-direction: column;
    align-items: center;
  }

  .quote-image-icon, .quote-text {
    max-width: 100%;
  }

  .quote-image-icon {
    margin-bottom: 20px;
  }

  .quote-text {
    order: 1;
  }

  .quote-button {
    order: 2;
    align-self: center;
  }
}
.services{
  max-width: 100%;
  min-height: auto;
}

.services .texts{
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  line-height: 50px;
}

.services-all{
  display: flex;
  grid-gap: 35px;
  margin: 30px;
}

.services-list{
  height: fit-content;
  width: 600px;
  align-items: center;
  text-align: center;
  justify-self: center;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.services-list .big-image-1{
  background-image: url('../assets/rectangle-20-1png.png');
  height: 220px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}


.services-list .small-image{
  display: none;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-400%);
}

.services-list .small-image-1{
  display: none;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-400%);
}

.services-list .big-image-2{
  background-image: url('../assets/rectangle-20-1png.png');
  height: 220px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.services-list .big-image-3{
  background-image: url('../assets/rectangle-20-1png.png');
  height: 220px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.services-list .services-text{
  padding: 18px;
  margin-top: 5px;
}

.services-list .services-text h3{
  margin-bottom: 10px;
  color: #2D3192;
  font-size: 20px;
}

.services-list .services-text p{
  line-height: 20px;
  font-size: 14px;
}

.services .btn-services {
  background-color: #42459C;
  justify-content: center;
  margin-bottom: 50px;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .services-list {
    width: 80%; /* adjust as needed */
  }
}

@media screen and (max-width: 992px) {
  .services-list {
    width: 70%; /* adjust as needed */
  }
}

@media screen and (max-width: 768px) {
  .services-list {
    width: 60%; /* adjust as needed */
  }
}

@media screen and (max-width: 600px) {
  .services-all {
    flex-direction: column;
  }
  .services-list {
    width: 100%;
  }
}

@media screen and (max-width: 498px) {
  .services-all {
    flex-direction: column;
  }
  .services-list {
    width: 100%;
  }
}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonial-heading {
  letter-spacing: 1px;
  margin: 30px 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.testimonial-heading h1{
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #2d3192;
  color: #ffffff;
  padding: 10px 20px;

}
.testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}
.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border: 20px;
}
.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 40px;

}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile {
  display: flex;
  align-items: center;
}
.name-user {
  display: flex;
  flex-direction: column;
}
.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span {
  color: #979797;
  font-size: 0.8rem;
}
.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: --h3-24-30;
  
}
.reviews {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2d3192;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
@media screen and (min-width: 1201px) {
  .testimonial-box {
    width: calc(50% - 30px); /* 2 per row, adjust as needed */
  }
  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
}

@media screen and (max-width: 1200px) {
  .testimonial-box {
    width: calc(50% - 30px); /* 2 per row, adjust as needed */
  }
  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
}

@media screen and (max-width: 992px) {
  .testimonial-box {
    width: calc(50% - 30px); /* 2 per row, adjust as needed */
  }
  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .testimonial-box {
    width: calc(50% - 30px); /* 2 per row, adjust as needed */
  }
  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
}

@media screen and (max-width: 600px) {
  .testimonial-box {
    width: calc(50% - 30px); /* 2 per row, adjust as needed */
  }
  .box-top {
    flex-wrap: wrap;
  }
  .name-user {
    width: 100%;
  }
  .reviews {
    width: 100%;
  }
  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
}

@media screen and (max-width: 498px) {
  .testimonial-box {
    width: 100%; /* 1 per row */
  }
  .box-top {
    flex-direction: row; /* align items horizontally */
    justify-content: space-between; /* space items evenly */
  }
  .name-user {
    flex: 1; /* make name-user appear first */
  }
  .reviews {
    align-self: flex-end; /* align to the end of the container */
  }
  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
}
.contact-b {
  flex: 1;
  position: relative;
  line-height: 1.87rem;
}
.contact-us1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem; /* Adjust as needed */
  background-image: url(../assets/contact-us@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-lg-7);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
.contact-us2 {
  font-size: var(--font-size-2xs-9);
  line-height: 0.68rem;
  text-transform: capitalize;
  font-family: var(--font-nunito-sans);
  color: var(--color-white);
  text-align: center;
}
.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  padding: 0.69rem var(--padding-xl);
  background-color: var(--a86);
  border-radius: var(--br-2xs-9);
}
.contactus-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.56rem;
}
@media screen and (max-width: 768px) {
  .contact-b {
    line-height: 1.4rem;
  }
  .contact-us1 {
    padding: 0.5rem;
    font-size: var(--font-size-md-5);
  }
  .contact-us2 {
    font-size: var(--font-size-xs-8);
    line-height: 0.5rem;
  }
  .contact-button {
    padding: 0.5rem var(--padding-md);
  }
  .contactus-content {
    gap: 2.5rem;
  }
}

.blogs{
  max-width: 100%;
  min-height: auto;
  margin-top: 50px;
}
.blogs .texts{
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  line-height: 50px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 20px auto;
  padding: 20px;
  gap: 20px;
}
.card-list .card-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}
.card-list .card-item:hover {
  border: 2px solid #000;
}
.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}
.card-list .span-container {
  display: flex;
  justify-content: flex-end;
  
}
.card-list span {
  display: inline-block;
  background: #F7DFF5;
  margin: 20px 35px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
 
}
.card-list .developer {
  background-color: #F7DFF5; 
  color: #B22485;
}   
.card-list .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}
.card-list .editor {
  background-color: #d6f8d6; 
  color: #205c20;
}
.card-list .read {
  margin-top: 20px;
  color: #928e8e;
  font-size: x-small;
}
.card-item h3 {
  color: #2d3192;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}
.card-item .blog-p {
  color: #000;
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.5;
}
.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #2d3192;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}
.card-list .card-item:hover .arrow  {
  background: #2d3192;
  color: #fff; 
}
@media screen and (min-width: 1201px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust as needed */
  }
}



@media screen and (max-width: 992px) {
  .card-list {
    grid-template-columns: 1fr; /* 1 per row */
  }
  .card-list .card-item {
    width: 80%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: 1fr; /* 1 per row */
  }
  .card-list .card-item {
    width: 80%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .card-list {
    grid-template-columns: 1fr; /* 1 per row */
  }
  .card-list .card-item {
    width: 80%; /* Adjust as needed */
    margin: auto;
  }
}

@media screen and (max-width: 498px) {
  .card-list {
    grid-template-columns: 1fr; /* 1 per row */
  }
  .card-list .card-item {
    width: 100%; /* Adjust as needed */
  }
}
/* Get-Updates */
.get-updates {
  max-width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);     
  padding: 30px;
}

.get-updates-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Additional styling for your container */
}

.text {
  width: 60%;
  line-height: 25px;
}

.email {
  width: 40%; /* Adjust the width of the email container */
  text-align: center;
  display: flex; /* Set the email container as a flex container */
}

button {
  padding: 10px 20px;
  max-width: 140px;
  min-height: 38px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 7px;
  background: #42459C;
  color: #fff;
  /* Additional styling for your button */
}

input[type="email"] {
  width: 70%; /* Adjust the width of the email input */
  padding: 10px;
  outline: none;
  border: .1px solid #000;
  /* Additional styling for your email input */
}

input[type="email"]:focus {
  outline: none;
  border-color: #42459C; /* Change the border color on focus */
}